*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #FC913A;
  color: white;
  width: 100%;
  height: 80px;
  padding: 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body{
  color: #4C4C4C;
  padding: 0 5%;
}

.btn-top-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #FFA000;
  background: #fff1da;
  border-bottom: solid 4px #FFA000;
  border-radius: 15px 15px 0 0;
  transition: .4s;
  border: none;
}

.btn-top-radius:hover {
  background: #ffc25c;
  color: #FFF;
  outline: none;
}

ul {
  list-style: none;
}




.ingredient-button {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background: #f9f9f9;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
}

.ingredient-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #F68655;
  width: 0%;
  z-index: 0;
  transition: width 0.3s ease;
}

.ingredient-button.clicked {
  color: white;
}

.ingredient-button span {
  position: relative;
  z-index: 1;
}

/* 非表示のform要素 */
.hidden-name {
  display: none;
}
.hidden-suuryou {
  display: none;
}