*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #FC913A;
  color: white;
  width: 100%;
  height: 80px;
  padding: 0 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

